*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Great Vibes", cursive;
}

body {
  background-color: #253122;
}

.header-box {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 30vh;
  margin: 0 auto;
  justify-content: center;
  align-content: center;
}

.header-box h1 {
  width: 78vw;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  color: white;
  font-size: 5em;
}

.main-box {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 68vh;
  margin: 0 auto;
  justify-content: center;
  align-content: center;
}

.link-list {
  display: flex;
  flex-direction: row;
  width: 78vw;
  height: 65vh;
  margin: 0 auto;
  justify-content: space-around;
  align-content: center;
  list-style: none;
  text-align: center;
}

li {
  margin-top: 2.5em;
}

.jollof-img {
  width: 25vw;
  height: auto;
  margin: 0 auto;
  align-self: center;
}

.egg-img {
  width: 25vw;
  height: 52vh;
  margin: 0 auto;
}

.friedRice-img {
  width: 25vw;
  height: auto;
  margin: 0 auto;
}

img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* font-family: "Dancing Script", cursive; */
/* font-family: 'Pacifico', cursive; */
/* font-family: 'Satisfy', cursive; */
/* font-family: 'Courgette', cursive; */
